/**************************************************/
/* Adapations génériques pour la sortie reveal.js */
/**************************************************/

/* Texte de code dans les listes : sans retour à ligne et dans une boite ombrée */
li code {
    white-space: nowrap;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

/* Alignement vertical des images (par rapport au texte adjacent) */
img {
    vertical-align: middle;
}

/* Pas d'affichage de texte pour la classe img-slide */
.img-slide h1,
.img-slide h2,
.img-slide h3,
.img-slide h4,
.img-slide h5,
.img-slide h6 {
    display: none;
}
.reveal .img-slide img {
    background: none;
    border: none;
    box-shadow: none;
}

/* Taille maximale pour les blocs de code source */
.reveal pre code {
    max-height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Affichage en italique des commentaires dans les blocs de code */
.org-comment { font-style: italic; }
.org-comment-delimiter { font-style: italic; }

/* Affichage des images à l'intérieur d'une boite ombrée */
.reveal section img {
    margin: 15px 0px;
    border: 4px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Affichage des nodes de bas de slide */
.SLIDE_FOOTNOTES {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    text-align: left;
    position: fixed;
    bottom: 0;
}

.SLIDE_FOOTNOTES p {
    margin: 0;
    margin-top: -1em;
    white-space: pre-wrap;
}
